[v-cloak] {
    display: none;
}

@font-face {
    font-family: 'afont';
    font-style: normal;
    font-weight: 300;
    src: local('afont'), url(font1.woff2) format('woff2');
}

html,
body {
    height: 100%;
    color: #2a2e2e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background: #f6f6f6 !important;
}

a:focus, a:hover {
    text-decoration: none !important;
}

input:focus {
    outline: none;
}

.layout-flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-control {
    color: #2a2e2e;
}

.form-control:focus {
    box-shadow: none;
}

.site-header.navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 2%;
    height: 70px;
    background: #fff !important;
    border-bottom: none !important;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.site-navbar-brand {
    color: #b7b7b7 !important;
    font-weight: 600;
    margin-right: 60px !important;
    padding: 0 0 3px 0;
    transition: color .3s;
}

.site-navbar-brand-code {
    color: #317fc4 !important;
    font-weight: 600;
}

.site-nav {
    align-items: center;
}
.site-nav .nav-link {
    display: inline;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    font-size: 16px;
    color: #444 !important;
}

.site-nav .nav-link:hover,
.site-nav .active .nav-link,
.logout-link:hover {
    color: #0060df !important;
}

.site-tab-link:not(.active), .site-tab-link:not(.active):hover {
    color: #0060df !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #368bd6 !important;
}

.site-dropdown-menu.dropdown-menu {
    top: 140% !important;
}

.dropdown-toggle::after {
    vertical-align: 0.2em !important;
}

.btn-link {
    color: #0060df !important;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration: underline !important;
}

.site-index {
    margin-bottom: 12%;
}

.site-login,
.site-password-reset-request {
    margin-bottom: 15%;
}

.site-password-reset {
    margin-bottom: 10%;
}

.site-message {
    margin-bottom: 15%;
}

.absolute-margins {
    left: 0;
    right: 0;
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

.primary, .btn-primary {
    background-color: #368bd6 !important;
    border-color: #368bd6 !important;
}

.btn {
    font-size: 16px;
    transition: none;
    margin-bottom: 16px;
}

.btn-primary:hover:not(.disabled) {
    background-color: #317fc4 !important;
}

.btn-primary:focus:not(.disabled) {
    box-shadow: none;
}

.btn-primary:active:not(.disabled) {
    background-color: #368bd6 !important;
    /*box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);*/
}

.btn {
    box-shadow: none !important;
}

.btn-primary.disabled:hover {
    cursor: default;
}

.btn-primary.disabled:focus {
    box-shadow: none !important;
}

.signup-link {
    display: inline;
    font-size: 16px;
    line-height: 70px !important;
    color: #2a2e2e !important;
    border: 2px solid transparent;
    border-color: rgba(14,19,24,.15);
    padding: 8px 16px;
    outline: 0;
    border-radius: 4px;
    font-weight: 600 !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    transition: color .3s, background .3s, border .3s;
}

.signup-link:hover {
    border-color: rgba(14,19,24,.07);
}

.signup-link:focus {
    border-color: rgba(14,19,24,.2);
    box-shadow: none !important;
}

.logout-link {
    display: inline;
    font-size: 16px;
    color: #444 !important;
    padding: 0.5rem 1rem !important;
    border: none;
    background: transparent;
}

.logout-link:focus {
    outline: none;
}

.site-code {
    margin-top: 50px;
    width: 100%;
}

.site-shared-code {
    margin-top: 40px;
    width: 100%;
}

.site-code-language {
    width: 120px;
    font-size: 14px;
}

.site-account {
    margin-bottom: 15%;
    width: 100%;
}

.site-contact {
    margin-bottom: 5%;
}

.site-contact-logged {
    margin-bottom: 8%;
}

.site-privacy-policy {
    margin-bottom: 80px;
}

.code-input {
    width: 100%;
    height: 511px;
    font-size: 14px;
    overflow: auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.code-textarea {
    position: absolute;
    top: 0;
    left: -50px;
    height: 1px;
    width: 1px;
    resize: none;
}

.site-code-shared {
    position: absolute;
    top: -25px;
    right: 26px;
}

.site-code-shared.show {
    opacity: 1;
}

.site-shared-code-copy-link {
    cursor: pointer;
}

.site-shared-code-label,
.site-shared-code-value {
    color: #2a2e2e;
    font-size: 12px;
}

.shared-code-button-container {
    position: absolute;
    bottom: 25px;
    right: -50px;
}

.site-modal-copy {
    display: inline-block;
    margin-left: 10px;
    color: #5a6268;
    cursor: pointer;
}

.site-modal-copy:hover {
    opacity: 0.8;
}

.site-modal-copy-input {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
}

.result-item {
    cursor: pointer;
    border: none;
    padding: 7px 8px 7px 10px;
}

.no-text-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.site-list-group .result-item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

ul.site-list-group .result-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.result-item.selected {
    background-color: #eee;
}

.site-list-group {
    height: 511px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow-y: scroll;
}

.site-list-group::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.site-alert-container {
    position: absolute;
    top: 90px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.site-account-alert-container {
    top: 120px;
    z-index: 5;
}

.site-alert-container.show {
    opacity: 1;
}

.site-alert {
    position: relative;
    left: -50%;
}

.site-contact-alert,
.site-shared-code-alert {
    position: fixed;
    top: 95px;
    right: 26px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.site-contact-alert.show,
.site-shared-code-alert.show{
    opacity: 1;
}

.site-item-data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-item-description {
    font-size: 15px;
    font-weight: 600;
    color: #2a2e2e;
}

.site-item-keywords {
    font-size: 12px;
    color: #2a2e2e;
}

.site-item-code {
    font-size: 13px;
    color: #777;
    padding: 2px 0;
}

.site-item-updated {
    font-size: 11px;
    color: #777;
}

.search-container {
  width: 100%;
  display: inline-block;
  position: relative;
}

.search-clear {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: -2px;
  padding: 0 7px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*transition: opacity 0.1s ease-in-out;*/
}

.search-clear.show {
  opacity: 0.5;
  cursor: context-menu;
  pointer-events: auto;
}

.search-clear.show:hover {
  opacity: 0.7;
}

.form-control.is-valid,
.form-control.is-invalid {
  background-image: none;
}

.site-alert-message {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.site-alert-message.show {
  opacity: 1;
}

.site-new-account {
  margin-bottom: 9%;
}

.invalid-feedback {
  display: inline;
}

.field-user-verifycode .invalid-feedback  {
  text-align: right;
  display: block;
  padding-right: 10px;
}

.field-contactform-verifycode .invalid-feedback {
  text-align: right;
  display: block;
}

.button-width {
  min-width: 120px;
}

.site-hide {
  display: none;
}

.site-hide-always {
  display: none;
}

.site-feature-list {
    margin-left: 40px;
    display: inline-block;
}

.site-feature-list li {
    padding: 4px 0;
}

.site-feature-list svg {
    display: inline-block;
    margin-right: 10px;
    color: #00b300;
}

.site-no-resize {
    resize: none;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 0 1rem;
}

.modal-footer {
    border-top: none;
}

button.close:focus {
    outline: none;
}

.mt-45 {
    margin-top: 36px !important;
}

.pt-45 {
    padding-top: 36px !important;
}

.error-list {
    margin-bottom: 0;
    padding-left: 22px;
}

.site-logo {
    width: 160px;
}

.site-error {
    margin-bottom: 15%;
}

.alert-dismissible .close {
    padding: 0.65rem 1.25rem;
}

.site-contact-verify {
    text-align: right;
}

.site-cookie-info {
    min-height: 56px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -200px;
    z-index: 10;
    background: #eee;
    color: #333;
    font-size: 14px;
    text-align: center;
    transition: all 0.6s ease;
}

.site-cookie-info.show {
    bottom: 0;
}

.site-cookie-text {
    font-size: 16px;
}

.site-cookie-close {
    cursor: pointer;
    min-width: 100px;
    position: absolute;
    right: 0;
}

.select2-selection__arrow {
    border-left: none !important;
}

.select2-selection__clear {
    top: 0.25rem !important;
    right: 0.45rem !important;
}

.select2-selection, .select2-dropdown {
    box-shadow: none !important;
}

.select2-results > ul > li {
    font-size: 14px;
}

.popover-body {
    padding: 0;
}

.site-popover-body {
    padding: .5rem .75rem;
}

.select2-selection--multiple {
    height: 68px;
}

.filter-categories-width .select2.select2-container {
    width: 161px !important;
}

.select2-selection__choice {
    float: left;
}

.site-item-name {
    font-size: 15px;
    font-weight: 600;
    color: #2a2e2e;
}

.category-search-container {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-right: 0;
}

.category-search-clear {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: -2px;
  padding: 0 7px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category-search-clear.show {
  opacity: 0.5;
  cursor: context-menu;
  pointer-events: auto;
}

.category-search-clear.show:hover {
  opacity: 0.7;
}

.category-site-list-group {
    height: 319px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow-y: scroll;
}

ul.category-site-list-group .result-item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

ul.category-site-list-group .result-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.category-edit-padding {
    padding: .375rem 0.5rem 0.375rem .75rem;
}

.modal-warning {
    color: red;
}

.site-modal-edit {
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
}

.site-modal-edit.is-invalid {
    border-color: #dc3545;
}

.custom-width {
    max-width: 300px;
}

.site-category {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .site-header.navbar {
        height: auto;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navbarSupportedContent {
        margin-top: 6px;
    }

    .site-nav {
        display: inline-block;
    }

    .site-nav-right {
        margin-top: 6px;
    }

    .site-nav > li {
        display: inline-block;
    }

    .site-nav .nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .layout-flex-column {
        display: block;
    }

    .site-index {
        margin-top: 6px;
        margin-bottom: 0;
    }

    .site-feature-list {
        margin-left: 10px;
    }

    .site-card-header {
        font-size: 1.3rem;
    }

    .signup-link {
        display: inline;
        line-height: 1.5 !important;
        color: #444 !important;
        border: none;
        padding: 0.5rem;
        outline: 0;
        border-radius: 4px;
        font-weight: 400 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .signup-link.active, .signup-link:focus,
    .signup-link:hover {
        color: #0060df !important;
    }

    .site-login, .site-password-reset-request {
        margin-top: 20px;
    }

    .site-contact-verify {
        text-align: left;
    }

    .login-error-list {
        padding-left: 20px;
    }

    .site-dropdown-menu.dropdown-menu {
        position: absolute;
    }
}

@media only screen and (max-width: 1600px) {
    .site-cookie-close {
        position: static;
    }

    .search-categories-sm {
        justify-content: center !important;
    }

    .display-block {
        display: flex;
    }

    .result-list {
        width: 460px;
    }
}

@media only screen and (max-width: 770px) {
    .shared-code-button-container {
        position: static;
        margin-bottom: 20px;
        text-align: right;
    }

    .site-cookie-info {
        flex-direction: column;
    }

    .site-cookie-text {
        font-size: 14px;
    }

    .search-container-sm {
        margin-left: 50px;
    }

    .display-block {
        display: block;
    }

    #search {
      width: 88%;
    }

    #search-code {
        width: 83%;
    }

    .search-categories-sm .display-block {
        width: 80%;
    }

    .site-list-group {
        height: 240px;
    }

    .form-control {
        width: 95%;
    }

    .filter-categories-label {
        width: 119px;
    }

    .filter-categories-code-width {
        width: 47%;
    }

    .code-categories-container .select2-selection.select2-selection--multiple {
        width: 95%;
    }

    .category-list-container {
        width: 96%;
    }

    .category-code-list-container {
        width: 100%;
    }

    .site-code {
        margin-top: 10px;
    }

    .result-list {
        width: 320px;
    }
}

@media only screen and (max-width: 470px) {
    .site-dropdown-menu.dropdown-menu {
        left: auto;
        right: 0;
    }

  .filter-categories-width .select2.select2-container {
      width: 88% !important;
      margin-right: 10px;
  }
}
